/* variáveis */
:root {
    --cor-fundo: #300101;
    --cor-sidebar: #000000;
    --cor-branco1: #ffffff;
    --cor-branco2: #dfdfdf;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-branco2);

    font-family:
    'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard-container {
    display: flex;
    align-items: stretch;
    flex: 1;
}

main {
    flex: 1;
    padding: 30px;
    background-color: var(--cor-fundo);
}

/* sidebar */
nav {
    width: 200px;
    background-color: var(--cor-sidebar);
    padding: 20px;

    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 0;
    list-style: none;
}

nav a {
    color: var(--cor-branco1);
    text-decoration: none;

    display: block;
    padding: 10px;

    border-radius: 4px;
    transition: background 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

/* perfil */
.perfil-usuario {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--cor-branco1);

    padding-top: 20px;
}